*{
     margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #07060607;
}
header{
    background-color: #333;
    color: white;
    height: 70px;
    position:fixed;
    top:0 ;
    width: 100%;
    z-index: 1000;
}
 nav{
   display:flex;
   flex-direction:row;
   align-items:center;
   margin-right:500px;
   position:relative;
   top:0;
}
 nav ul{
    list-style:none;
    display:flex;
    gap:15px;
}
 nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
aside{
    background-color: #e2e2e2;
    padding: 15px;
    width: 200px;
    float: left;
    height: 100vh;
    position: fixed;
    margin-top: 72px;
}
aside ul{
    list-style:none;
    line-height:20px;

}
aside ul li a{
    text-decoration:none;
    color:#333;
    line-height:10px;
}
.stories{
    margin-left: 650px;
    padding: 75px;
    margin-top: 10px;
}
main{
    margin-left: 240px;
    display:grid;
    grid-template-columns: 500px 500px;
    padding-top:80px;
}
section{
    display:grid;
    grid-template-columns:460px 460px;
    column-gap: 50px;
    
}
.boy{
    display:flex;
    flex-direction: column;
    width: 460px;
    background-color: rgb(134, 134, 134);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    
}
.image img{
    width:450px;
    height:300px
}
.second-section{
     margin-top:30px;
}
.cameras{
     display:grid;
     grid-template-columns:550px 550px;
     gap:20px;
}
.COD img{
    width:450px;
    height:300px;
}
.COD{
    align-items: center;
    background-color:rgb(133, 133, 133); 
    padding:10px;
    border-radius:10px;
    margin-bottom:20px;
    width:500px;
}
